.main-grid-container {
    margin: auto;
    display: grid;

    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr)); */
    grid-template-columns: auto auto;
}

.grid-item-link {
    text-decoration: none;
}