* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    /* width: 100%; */
    height: auto;
    margin-left: 1em;
    margin-right: 1em;
    /* background-color: black; */
    height: 37rem;
}