.home-container {
  flex-direction: column;
  width: 100%;
  background-image: linear-gradient(180deg, #f3c9c72a, white);
  display: flex;
  padding: 2.5em;
  height: 1500px
}

.home-heading {
  font-size: 90px;
  letter-spacing: -0.05em;
  padding-bottom: 25px;
}
