* {
  margin: 0;
  padding: 0;
}

.main-home {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-image: linear-gradient(180deg, #f3c9c72a, white);
  padding: 2.5em;
  height: 1500px;
}

.main-title-home {
  font-size: 90px;
  letter-spacing: -0.05em;
  padding-bottom: 0.8em;
}
