.card-container,
.card-footer {
  border-radius: 9px;
}


.card-container {
  padding: 4.45px;
  background: rgba(226, 222, 222, 0.553);
  min-height: auto;
  transition: all 0.3s ease-in-out;
  z-index: -999999;
}

/* transform: perspective(1000px) rotateX(35deg) rotateY(4deg) rotateZ(-30deg);
transform: perspective(1000px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
transform:skew(705deg); */

.card-container:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 2px;
}



.card-hero-img {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 2.45px;
  height: 253px;
}

.card-img {
  flex-shrink: 0;
  max-width: 100%;
  min-height: 100%;
  object-fit: cover;
  border-radius: 9px !important;
}

.card-name,
.card-description {
  padding: 1.5px auto;
}

.card-name {
  font-weight: 800;
  font-size: 20px;
}

.card-description {
  font-weight: 700;
  font-size: 13px;
}

.card-footer-content {
  color: rgb(72, 72, 71);
  border: none;
  display: inherit;
  flex-direction: column;
  justify-content: end;
}

.card-footer {
  padding: 2.45px;
  display: flex;
  gap: 2.2rem;
  justify-content: space-between;
}