.grid-item {
    background-color: aquamarine;
    padding: 2em;
    /* display: flex; */
    display: block;
    text-align: center;
    align-items: center;
    width: 400px;
    height: 400px;
    z-index: 20 !important;
}