.main-bookmark {
  display: flex;
  background-image: linear-gradient(180deg, #ffc52633, white);
  display: flex;
  padding: 2.5em;
  height: 1500px;
}

.main-title-bookmark {
  font-size: 90px;
  letter-spacing: -0.05em;
  padding-bottom: 25px;
}
