.nav-container {
  width: 100%;
}

.nav {
  align-items: center;
  padding: 40px 22px;
  background-color: #eec9962a;
  min-height: 68px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  box-shadow: rgba(17, 12, 46, 0.35) 0px 48px 100px 0px;
  padding-right: 2.5em;
  padding-left: 2.5em;
}

.bookmarks-link,
.logo {
  border-radius: 6px;
  font-size: 22px;
  font-weight: 900;
  padding: .74em;
  letter-spacing: -0.05em;
}

.logo {
  font-style: italic;
  font-size: 25px;
  color: inherit;
  align-self: center;
  background-color: #8f7d7d4d;
}

.bookmarks-link:hover {
  background-color: #8f7d7d27;
}

.logo:hover {
  background-color: #8f7d7d27;
}
