.nav-container {
  width: 100%;
}

.nav {
  align-items: center;
  padding: 40px 22px;
  background-color: #eec9962a;
  min-height: 77px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  box-shadow: rgba(17, 12, 46, 0.35) 0px 48px 100px 0px;
}

.nav-link {
  font-size: 22px;
  font-weight: 900;
  padding: 0.75em;
  letter-spacing: -0.05em;
}

.nav-link:hover {
  border-radius: 9px;
  background-color: #8f7d7d2a;
}

.logo {
  font-style: italic;
  font-size: 25px;
  color: #000;
  align-self: center;
}
