.main-rest-detail {
  padding: 2.5em;
  background-image: linear-gradient(180deg, #268bff33, white);
  height: 1500px;
}

.rest-detail-title {
  font-size: 90px;
  letter-spacing: -0.05em;
  padding-bottom: 0.8em;
}
