* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

button {
  all: unset;
}

img {
  width: 90%;
  height: 220px;
  align-items: middle;
  object-fit: contain;
  justify-items: center;
  display: inline-block;
}

h1 {
  font-weight: 700;
  letter-spacing: -1.25px;
  color: #ee7652;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
