.detail-container {
  padding: 2.5em;
  background-image: linear-gradient(180deg, #a7cdf71a, white);
  height: 1500px;
}

.detail-heading {
  font-size: 90px;
  letter-spacing: -0.05em;
  padding-bottom: 25px;
}

.detail_inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail-name {
  font-size: 30px;
  font-style: italic;
  background-color: rgba(0, 0, 0, 0.161);
  border-radius: 9px;
  padding: .55em 1.6em;
}

.detail-info, .detail-name  {
  margin-bottom: 1.3em;
}

.rest-img {
  margin-top: 1em;
  height: 46%;
  width: 100%;
  border-radius: 9px;
}
